body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}


a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list{
  list-style: none;
}

.title {
  font-family: 'Cuprum', Arial, sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Button */
.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
}

.btn-basic{
  font-family: 'Cuprum', Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.btn-basic:hover,
.btn-basic:focus {
  background-color: #ca2c37;
}

.btn-basic:active {
  background-color: #ba2732;
}

.btn-product {
  font-family: 'Cuprum', Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 3px;
}

.btn-product:hover,
.btn-product:focus{
  background-color: rgba(255, 255, 255, .2);
}

.btn-product:active{
  background-color: rgba(255, 255, 255, .3);
}

.btn-buy {
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 #367315;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #367315;
}

.btn-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.btn-bookmark:hover,
.btn-bookmark:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.btn-bookmark:active {
  background-color: #ffffff;
  color: #c1c6ce;
  border-color: #c1c6ce;
}

/* Header */
.main-header {
  margin-bottom: 60px;
  background-color: #f4f7f9;
  font-family: 'Cuprum', Arial, sans-serif;
  /* Временно для сетки */
  min-height: 320px;
}

.inner-page .main-header {
  margin-bottom: 0px;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color:#293449;
}

.header-top-wrapper {
  display: flex;
}

.header-top a {
  color: #ffffff;
}

.header-logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  position: relative;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.header-logo img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.search-form {
  width: 270px;
}

.search-input {
  display: block;
  width: inherit;
  padding: 12px 0;
  padding-left: 50px;
  font: inherit;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:active,
.search-input:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 450px;
}

.header-list a {
  display: block;
  padding: 12px 0;
  background-color: #293449;
  margin: auto;
}

.header-list li:nth-child(1){
  width: 140px;
}

.header-list li:nth-child(2) {
  width: 160px;
}

.header-list li:nth-child(3) {
  width: 150px;
}

.header-list a:hover,
.header-list a:focus {
  background-color: #212a3a;
}

.header-list a:active {
  color: rgba(255, 255, 255, .6);
  background-color: #161d29;
}

.header-list .btn-order {
  color: #ffffff;
  background-color: #63a63e;
}

.header-list .btn-order:hover,
.header-list .btn-order:focus {
  background-color: #5fbb2d;
}

.header-list .btn-order:active {
  color: rgba(255, 255, 255, .5);
  background-color: #518534;
}

.header-content {
  display: flex;
  align-items: baseline;
  padding-top: 52px;;
}

.header-title {
  margin: 0;
  margin-left: 52px;
  padding: 0;
  padding-bottom: 42px;
  width:195px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  margin: 0;
  margin-left: 70px ;
  width: 300px;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: #32425c;
}

.header-contacts-phone {
  display: block;
  width: 264px;
  margin: 0;
  padding: 11px 0;
  font-size: 21px;
  line-height:21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.auth {
  display: flex;
  justify-content: space-between;
  margin:0;
  margin-left: auto;
  padding: 0;
  width:284px;
}

.login-link,
.check-in {
  display: block;
  padding: 15px 0;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.login-link {
  width: 124px;
}

.check-in {
  width: 150px;
}

.login-link:hover,
.login-link:focus,
.check-in:hover,
.check-in:focus{
  color: #ee3643;
}

.login-link:active,
.check-in:active {
  color: rgba(0, 0, 0, .3);
}

.account {
  margin:0;
  margin-left: auto;
  padding: 0;
  width:300px;
  /* Временно для сетки */
  height: 160px;
}

.profile-container {
  background-color: #ffffff;
}

.profile {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.profile:active {
  color: rgba(0, 0, 0, .3);
}

.logout {
  background-image: url(../img/icon/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .5;
}

.logout:hover,
.logout:focus {
  opacity: 1;
}

.account-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.account-link:hover,
.account-link:focus {
  color: #ee3643
}

.account-link:active {
  color: rgba(50, 66, 92, .3);
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  /* Временно для сетки */
  height: 64px;
}

.site-navigation-item {
  flex-grow: 1;
  /* Временно для сетки */
  height: 64px;
}

.site-navigation a {
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 22px 0;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, .5);
  background-color: #293449;
}

/* Main */
.products {
  margin-bottom: 55px; /*53px*/
  /* Временно для сетки */
  min-height: 410px;
}

.product-item{
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: bisque;
  float:left;
}

.product-material {
  background-color: #ffbf47;
  background-repeat: no-repeat;
  background-position: 210px 30px;
  background-image: url(../img/icon/material.svg);
}

.product-tool {
  background-color: #3bbce3;
  background-repeat: no-repeat;
  background-position: 195px 30px;
  background-image: url(../img/icon/tool.svg);
}

.product-technique,
.product-discount,
.product-delivery {
  float:right;
  margin-right: 0;
}

.product-technique{
  background-color: #dc91d8;
  background-repeat: no-repeat;
  background-position: 190px 30px;
  background-image: url(../img/icon/technique.svg);
}

.product-discount {
  background-color: #8ed78f;
  background-repeat: no-repeat;
  background-position: 195px 30px;
  background-image: url(../img/icon/discount.svg);
}


.product-delivery{
  background-color: #ffc047;
  background-repeat: no-repeat;
  background-position: 190px 30px;
  background-image: url(../img/icon/delivery.svg);
}

.product-slider{
  width: 620px;
  min-height: 266px;
  float:left;
  background-image: url('../img/servSlidImg_1.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item h3 {
  margin-left: 23px;
  margin-top: 23px;
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.product-item a {
  display: block;
  width: 135px;
  padding: 6px 0;
  margin-left: 23px;
}

.popular-goods {
  margin-bottom: 20px;
  /* Временно для сетки */
  min-height: 425px;
}

.popular-goods-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.popular-goods-title {
  padding: 0;
  margin: 0;
  margin: 30px 0px;
  margin-left: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;

  font-size: 30px;
  line-height: 30px;
}

.popular-goods-header a {
  width: 250px;
  padding: 11px 0;

  margin-right: 25px;
}

.brand {
  margin-bottom: 85px;
  /* Временно для сетки */
  min-height: 420px;
}

.brand-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  /* Временно для сетки */
  min-height: 90px;
}

.brand-title {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin: 30px 0px;
  margin-left: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;

  font-size: 30px;
  line-height: 30px;

  font-size: 30px;
  line-height: 30px;
}

.brand-header a {
  width: 250px;
  padding: 11px 0;

  margin-right: 25px;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-item{
  width: 218px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  position: relative;
}

.brand-item:hover,
.brand-item:focus{
  box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
}

.brand-item:active{/*тень бледнеет*/
  opacity: .3;
  box-shadow: 0px 4px 10px 0px rgba(41,52,73,0.5);
}

.brand-item img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.service {
  margin-bottom: 75px;
  background-color: #f4f8fa;

  /* Временно для сетки */
  height: 525px;
}

.service-header{
  margin-bottom: 72px;
}

.service-header h2{
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 65px;
  font-size: 30px;
  line-height: 30px;
}

.service-header p {
  margin: 0;
  padding: 0;
  width: 400px;
  font-size: 13px;
  line-height: 24px;
}

.service-menu{
  margin: 0;
  padding: 0;
  width: 240px
}

.service-menu-item{
  display: block;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  padding: 16px 0;
  padding-left: 24px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-menu-item:hover,
.service-menu-item:focus {
  background-color: #293449;
}

.service-list {
  width: 620px;
}


.service-item h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.service-item p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.service-item-1 {
  background-image: url('../img/service-1.png');
  background-repeat: no-repeat;
  background-position: right 24px;
  min-height: 265px;
}

.service-item-1 p:nth-child(2){
  width: 275px;
}

.service-item-1 p:nth-child(3){
  width: 175px;
}

.service-item-2 p:nth-child(2){
  width: 375px;
}

.service-item-2 {
  background-image: url('../img/service-2.png');
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 265px;
}

.service-item-3 {
  background-image: url('../img/service-3.png');
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 265px;
}

.service-item-3 a{
  display: block;
  width: 195px;
  padding: 6px 0;
  margin-top: 30px;
}

.service-item {
  display: none;
}

#s-btn-1:checked ~ .service-menu label[for="s-btn-1"],
#s-btn-2:checked ~ .service-menu label[for="s-btn-2"],
#s-btn-3:checked ~ .service-menu label[for="s-btn-3"] {
  color: #32425c;
  background-color: #ffffff;
  border-color: transparent;
}

#s-btn-1:checked ~ .service-list .service-item-1,
#s-btn-2:checked ~ .service-list .service-item-2,
#s-btn-3:checked ~ .service-list .service-item-3{
  display: block;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.inner-page .index-columns {
  margin-bottom: 0px;
}

.index-columns h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.index-columns p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

.features {
  width: 540px;
  /* Временно для сетки */
  min-height: 375px;
}

.features .trans-comp {
  font-size: 18px;
  line-height: 20px;
}

.contacts {
  width: 300px;
  /* Временно для сетки */
  min-height: 375px;
}

/* Main catalog */
.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;

  /* Временно для сетки */
  min-height: 60px;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.catalog-header {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:#32425c;
  background-color: #f2f6f8;

  /* Временно для сетки */
  min-height: 90px;
}

.filter {
  width: 220px;
  /* Временно для сетки */
  min-height: 745px;
}

.filter h3 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
}

.filter-input:disabled + label {
  opacity: .4;
}

.filter-btn {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.catalog {
  width: 700px;
  /* Временно для сетки */
  min-height: 1200px;
}

.sorting {
  display: flex;
  width: 700px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  /* Временно для сетки */
  min-height: 40px;
}

.sorting-title {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.card-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 700;
}

.inner-page .card-list {
  margin-bottom: 50px;
}

.card-item {
  width:218px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  /* Временно для сетки */
  min-height: 310px;
}


.card-item:hover {
  border-color:transparent;
  box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
}

.card-item-title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.card-item del,
.card-item p {
  font-size: 17px;
  line-height: 18px;
}

.card-item del {
  color: #999999;
}
.card-item p {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-list{
  display: flex;
  margin: 0;
  padding: 0;
  width: 700px;
  /* Временно для сетки */
  min-height: 40px;
}

.info{
  /* Временно для сетки */
  min-height: 260px;
}

.info-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
}

/* Footer*/
.main-footer {
  color: #ffffff;
  background-color: #32425c;
  font-family: 'Cuprum', Arial, sans-serif;
  /* Временно для сетки */
  min-height: 300px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 42px;
}

.footer-logo {
  margin-bottom: 36px;
  display: block;
  width: 220px;
  height: 64px;
  background-color: #ee3643;
  position: relative;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.footer-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.footer-contacts {
  width: 335px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-nav {
  width: 550px;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-list,
.footer-offer-list {
  display: flex;
  flex-direction: row-reverse;
}

.footer-nav-list a,
.footer-offer-list a {
  margin-left: 60px;
}

.footer-nav-list a {
  color: #ffffff;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  text-decoration: underline;
}

.footer-nav-list a:active {
  color: rgba(255, 255, 255, .5);
}

.footer-offer-list a {
  color: #ffd180;
}

.footer-offer-list a:hover,
.footer-offer-list a:focus {
  text-decoration: underline;
}

.footer-offer-list a:active {
  color: rgba(255, 209, 128, .5);
}

.footer-bottom-wrapper{
  background-color: #293449;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  width: 240px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-list {
  display: flex;
}

.social-list {
  width: 150px;
  padding: 0;
  justify-content: space-between;
  margin: 0;
  margin-left: 140px;
}

.social-item {
  width: 42px;
}

.feedback {
  width: 140px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.develop{
  width: 140px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.footer-link {
  color: #ffd180;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  color: #ee3643;
}

/* Modal */
.modal {
  display: none;
  color: #000000;
  background-color: #ffffff;
}

.modal h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
  font:inherit;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
}
